<section class="common_section">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
          <div class="main_heading">
            <h5>Allocated Rooms to Students</h5>
          </div>
      </div>
      <div class="col-md-6">
          <div class="common_home_icon">
              <i class="bi bi-house-door" routerLink="/hostel/home"></i>
          </div>
      </div>
      <hr>
  </div>
    <div class="row">
      <div class="col-md-12">
        <div class="table-responsive">
          <table class="table table-bordered w-100 common_table">
            <thead>
              <tr>
                <th>Allocation ID</th>
                <!-- <th>Student ID</th> -->
                <th>Username</th>
                <th>Full Name</th>
                <th>Hostel</th>
                <th>Block</th>
                <th>Floor</th>
                <th>Room</th>
                <th>Requested By</th>
                <th>Academic Year</th>
                <th>Status</th>
                <th>Allocated At</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let room of allocatedRooms">
                <td>{{ room.allocation_id }}</td>
                <!-- <td>{{ room.student_id }}</td> -->
                <td>{{ room.username }}</td>
                <td>{{ room.full_name }}</td>
                <td>{{ room.hostel_name }}</td>
                <td>{{ room.block_name }}</td>
                <td>{{ room.floor_name }}</td>
                <td>{{ room.room_name }}</td>
                <td>{{ room.requested_by }}</td>
                <td>{{ room.academic_course_year_id }}</td>
                <td>
                  <!-- {{ room.status }} -->
                  <span class="badge"
                  [ngClass]="{
                    'badge-light-success': room.status === 'Approved',
                    'badge-light-warning': room.status === 'Pending',
                    'badge-light-danger': room.status === 'Rejected',
                    'badge-light-info': room.status === 'Allocated',
                    'badge-light-dark': room.status === 'Inactive'
                  }">
                  {{ room.status }}
                </span>
                </td>
                <td>{{ room.allocated_at | date: 'short' }}</td>
              </tr>
              <tr *ngIf="allocatedRooms.length === 0">
                <td colspan="9" class="text-center">No Allocated Rooms Found</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</section>