@import "@angular/material/prebuilt-themes/indigo-pink.css";
@import "@ng-select/ng-select/themes/default.theme.css";
@import "ngx-toastr/toastr";

// Variables
$font-family: 'Nunito', sans-serif;
$primary-color: #193567;
$secondary-color: #00843F;
$success-color: #1ABE17;
$danger-color: #E82646;
$background-light: #E5FAF2;
$modal-header-bg: #ecbb61;
$button-primary-bg: #09C65A;
$error-color: red;
// $table-header-bg: #ecbb61;
$table-header-bg: #ff9b46;
// $table-header-bg: #F7993F;
$btn-close-bg: #0F2C7A;
$body-bg: #F7FBFF;
$text-light: #fff;
$text-dark: #333333;
$border-light: #A2AEBA;
$font-size-xs: 12px;
$font-size-small: 14px;
$font-size-medium: 16px;
$font-size-large: 20px;
$font-weight-normal: 400;
$font-weight-medium: 500;
$font-weight-bold: 600;
$font-weight-extra-bold: 800;

.navbar-text {
  color: $text-light;
}

.main_heading {
  h5 {
    font-weight: 700;
  }
  margin-bottom: 20px;
}

.form-group {
  margin-bottom: 14px;
}
.form-label {
  font-weight: $font-weight-bold;
}
.ngx-pagination {
  padding: 0 !important;
  text-align: right;
}
.ngx-pagination .current {
  background: #099C67 !important;
  padding: 0.375rem 0.75rem !important;
}
  /*swal styles */
  .swal2-icon {
    transform: scale(0.75);
  }
  .swal2-popup {
    width: 350px !important;
  }
  .swal2-html-container {
    font-weight: $font-weight-bold;
  }
  div:where(.swal2-container) h2:where(.swal2-title) {
    font-size: medium !important;
  }
  .swal2-styled.swal2-confirm {
    /* width: 250px; */
    width: 100px;
    background: #00a24e !important;
  }
  .swal2-deny{
    width: 100px;
    /* width: auto; */
    /* width: 250px; */
  }

.common_home_icon {
  text-align: right;
  i {
    color: #099C67;
    // color: $secondary-color;
    font-size: 26px;
    cursor: pointer;
  }
}

.common_section {
  padding: 6px;
  background-color: $text-light;
  margin: 16px;
}

.common_add_record_btn {
  margin-bottom: 6px;
}

.form-heading {
  color: $primary-color;
  font-weight: $font-weight-extra-bold;
  font-size: $font-size-large;
}

.previewLabelName, .previewLabelValue {
  font-weight: $font-weight-bold;
  font-size: $font-size-small;
}

@media screen and (max-width: 768px) {
  .modal-body .col-md-1 {
    display: none;
  }
}

html, body {
  font-family: $font-family;
  background-color: $background-light;
}

h1, h2, h3, h4, h5, h6, p, span, div, label, a, td, th {
  font-family: $font-family;
}

.error {
  color: $error-color;
  font-size: $font-size-small;
}

.ng-select {
  &.ng-select-single .ng-select-container {
    height: 36px;
    line-height: 16px;
  }
  .ng-placeholder {
    display: block;
    font-size: $font-size-small;
  }
  &.ng-select-single .ng-has-value:not(.ng-open) .ng-placeholder {
    display: none;
  }
}

.badge {
  &.badge-soft-success {
    background: rgba($success-color, 0.1);
    color: $success-color;
  }
  &.badge-soft-danger {
    background: rgba($danger-color, 0.1);
    color: $danger-color;
  }
}

.menuUl .menuActive {
  background: $secondary-color;
  color: $text-light;
  transition: .5s ease-out;
}

.mandatory {
  color: $error-color;
}

.common_table {
  th {
    background-color: $table-header-bg;
    font-size: $font-size-small;
    font-weight: $font-weight-bold;
  }
  td {
    font-size: $font-size-small;
    font-weight: $font-weight-medium;
  }
}

.common_modal_popup .modal-header {
  background: $modal-header-bg;
  color: $text-light;
}

.viewbutton, .deletebutton {
  font-size: $font-size-small;
  font-weight: $font-weight-medium;
  padding: 0.3rem;
  border-radius: 4px;
  text-align: left;
  color: $text-light;
}

.viewbutton {
  background-color: $primary-color;
  border-color: $primary-color;
}

.deletebutton {
  background-color: $danger-color;
  border-color: $danger-color;
}

.btn-close {
  background: $btn-close-bg;
  opacity: 1;
  line-height: 1em;
  i {
    color: $text-light;
  }
}

.body {
  font-family: $font-family;
  background-color: $body-bg;
  overflow-x: hidden;
}

.content-panel {
  margin-left: 248px;
  transition: all 0.3s;
}

.content-panel.active {
  margin-left: 0;
  transition: all 0.3s;
}

@media (max-width: 767px) {
  .content-panel {
    margin-left: 0;
    width: 100%;
  }
}

.btn-success {
  background-color: #099C67 !important;
}

.left-panel:not(.active) .sidebar {
  margin-left: -100%;
  transition: all 0.5s;
}

.hamburger {
  display: inline-block;
  position: relative;
  left: 0px;
  top: 0px;
  -webkit-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
  width: 37px;
  z-index: 999;
  .line {
    background-color: $text-light;
    display: block;
    height: 3px;
    margin: 4px auto;
    width: 22px;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
  }
  &:hover {
    cursor: pointer;
  }
}



/********************** Scroll bar customization *****************************/

::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-track {
  background-color: $border-light;
}

::-webkit-scrollbar-thumb {
  background-color: $primary-color;
  border-radius: 8px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: darken($primary-color, 10%);
}

/****************  Multi Select Dropdown customisation **********************/

.multiselect-dropdown .dropdown-btn {
  border: 1px solid #ced4da !important;
  height: 34px !important;
  border-radius: .375rem !important;
  padding: .375rem .75rem !important;
  font-weight: 400 !important;
  line-height: 1.4 !important;
  overflow-y: hidden !important;
}

.multiselect-dropdown .dropdown-btn .dropdown-list {
  font-size: $font-size-xs !important;
}


.disabled-select .ng-select-container {
  pointer-events: none;
  background-color: #e9ecef;
  opacity: 0.6;
}

// badge styles


// .badge-light-primary {
//   background-color: #e1eefe !important;
//   color: #0056b3 !important;
// }



.badge {
  display: inline-block;
  padding: 0.35em 0.65em;
  font-size: 0.75rem;
  font-weight: 800;
  line-height: 1;
  color: #fff;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  border-radius: 0.25rem;
}

.badge-light-primary {
  background-color: #e1eefe;
  color: #0056b3;
}

.badge-light-secondary {
  background-color: #f0f0f5;
  color: #6c757d;
}

.badge-light-success {
  background-color: #e6f9ea;
  color: #28a745;
}

.badge-light-info {
  background-color: #e8f6ff;
  color: #17a2b8;
}

.badge-light-warning {
  background-color: #fff5e1;
  color: #ffc107;
}

.badge-light-danger {
  background-color: #fdecea;
  color: #dc3545;
}

// .badge-light-dark {
//   background-color: #d6d8db;
//   color: #343a40;
// }
.badge-light-dark {
  background-color: #d6d8db; /* Light gray */
  color: #343a40; /* Dark gray */
}
.badge-light-inactive {
  background-color: #f0f0f5; /* Very light gray */
  color: #6c757d; /* Muted gray */
}




// tooltips colors



/* Custom Info Tooltip */
.tooltip-primary .tooltip-inner {
  background-color: #0d6efd !important; /* Blue */
  color: #fff !important;
}
.tooltip-primary .tooltip-arrow::before {
  border-top-color: #0d6efd !important;
}



/* Custom Info Tooltip */
.tooltip-info .tooltip-inner {
  background-color: #0dcaf0 !important; /* Blue */
  color: #000 !important;
}
.tooltip-info .tooltip-arrow::before {
  border-top-color: #0dcaf0 !important;
}


/* Custom Blue Tooltip */
.tooltip-blue .tooltip-inner {
  background-color: #007bff !important; /* Blue */
  color: white !important;
}
.tooltip-blue .tooltip-arrow::before {
  border-top-color: #007bff !important;
}

/* Custom Green Tooltip */
.tooltip-green .tooltip-inner {
  background-color: #28a745 !important; /* Green */
  color: white !important;
}
.tooltip-green .tooltip-arrow::before {
  border-top-color: #28a745 !important;
}

/* Custom Red Tooltip */
.tooltip-red .tooltip-inner {
  background-color: #dc3545 !important; /* Red */
  color: white !important;
}
.tooltip-red .tooltip-arrow::before {
  border-top-color: #dc3545 !important;
}



// .multiselect-dropdown{
//   .dropdown-btn{
//       .dropdown-multiselect__caret{
//           &::before{
//               border-width: 5px 5px 0 !important;
//           }
//       }
//       height: 36px;
//       overflow-y: auto;
//       .selected-item-container{
//           .selected-item{
//               @include d-flex(row,space-between);
//               margin-bottom: 4px;
//               span{font-size: 10px;   }
//               a{
//                   font-size: $font-12;   
//               }
//           }
//       }
//   }
 
// }
// .multiCustomDD{
//   .multiselect-dropdown{
//       .dropdown-list{
//           .multiselect-item-checkbox{
                      
//                           font-size: $font-12 !important;
//                       }
                      
//                   }
//           }
// }