<section class="common_section">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="main_heading">
          <h5>Student Dashboard</h5>
      </div>
      <hr>
    </div>
    </div>
    <div class="row" data-aos="fade-down" data-aos-delay="400">
      <div class="col-lg-3 col-6">
        <!-- small box -->
        <div class="small-box bg-info">
          <div class="inner">
            <h3>{{ filteredRequests.length }}</h3>

            <p>Total Room Requests</p>
          </div>
          <div class="icon">
            <i class="bi bi-bag"></i>
          </div>
          <a routerLink="/student/studentroomrequst" class="small-box-footer">More info <i class="bi bi-arrow-right-circle"></i></a>
        </div>
      </div>
      <!-- ./col -->
      <div class="col-lg-3 col-6">
        <!-- small box -->
        <div class="small-box bg-success">
          <div class="inner">
            <h3>{{subjectsList.length}}
              <!-- <sup style="font-size: 20px">%</sup> -->
            </h3>

            <p>Subjects</p>
          </div>
          <div class="icon">
            <i class="bi bi-bar-chart"></i>
          </div>
          <a routerLink="/student/studentsubjects" class="small-box-footer">More info <i class="bi bi-arrow-right-circle"></i></a>
        </div>
      </div>
      <!-- ./col -->
      <div class="col-lg-3 col-6">
        <!-- small box -->
        <div class="small-box bg-warning">
          <div class="inner">
            <h3>{{ studentDetails.marks.length }}</h3>

            <p>Results</p>
          </div>
          <div class="icon">
            <i class="bi bi-person-add"></i>
          </div>
          <a routerLink="/student/studentresults" class="small-box-footer">More info <i class="bi bi-arrow-right-circle"></i></a>
        </div>
      </div>
      <!-- ./col -->
      <div class="col-lg-3 col-6">
        <!-- small box -->
        <div class="small-box bg-danger">
          <div class="inner">
            <h3>{{ notificationsList.length }}</h3>

            <p>Notifications</p>
          </div>
          <div class="icon">
            <i class="bi bi-pie-chart"></i>
          </div>
          <a routerLink="/student/notifications" class="small-box-footer">More info <i class="bi bi-arrow-right-circle"></i></a>
        </div>
      </div>
      <!-- ./col -->
    </div>
    <div class="row pt-4" data-aos="fade-down" data-aos-delay="600">
      <!-- ./col -->
      <div class="col-lg-3 col-6">
        <!-- small box -->
        <div class="small-box bg-success">
          <div class="inner">
            <h3>1
              <!-- <sup style="font-size: 20px">%</sup> -->
            </h3>

            <p>My Profile</p>
          </div>
          <div class="icon">
            <i class="bi bi-bar-chart"></i>
          </div>
          <a routerLink="/student/myprofile" class="small-box-footer">More info <i class="bi bi-arrow-right-circle"></i></a>
        </div>
      </div>
    </div>

    
  </div>
</section>