<p>studenthome works!</p>


<section>
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <table class="table table-bordered w-100">
          <thead>
            <tr>
              <th>#</th>
              <th>First Name</th>
              <th>Last Name</th>
              <th>Mobile Number</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>1</td>
              <td>Mahendra</td>
              <td>Babu</td>
              <td>8712345927</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</section>